#top {
    position: relative;
    background-color: #005580;
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
    margin: 0px 0px 10px 0px;
    height: 2em;
}

#bottom {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    height: 4.5em;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    font-size: 1em;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: white;
    text-decoration : none;
}

html{
    background-color: #99CCFF;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}
