body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
    color: #045491;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    text-decoration : none;
}

.crvena{
    color: red;
}

.crveniIgrac{
    background-color: #Cf6363;
    color: white;
}

.plaviIgrac{
    background-color: #6399CF;
    color: white;
}

.belaBoja{
    background-color: white;
}

.crvenaBoja{
    background-color: #f77c88;
}

.plavaBoja{
    background-color: #a3eff7;
}

.zelenaBoja{
    background-color: #42f5ad;
}

.sivaBoja{
    background-color: #dddddd;
}

.mojPanel .mojPanelGrid .zelenaBoja{
    background-color: #42f5ad;
}

.mojPanel .mojPanelGrid .plavaBoja{
    background-color: #a3eff7;
}

.mojPanel .mojPanelGrid .crvenaBoja{
    background-color: #f77c88;
}