<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./templejt.xhtml">

            <ui:define name="top">
                Administrator: #{admin.korIme}
            </ui:define>

            <ui:define name="content">

                <p:panel id="panel"> 
                    <p:dataTable var="kor" value="#{admin.korisnici}" rendered="#{admin.broj gt 0}">
                        <p:column headerText="Korisničko ime">
                            <h:outputText value="#{kor.korIme}" />
                        </p:column>
                        <p:column headerText="Ime">
                            <h:outputText value="#{kor.ime}" />
                        </p:column>
                        <p:column headerText="Prezime">
                            <h:outputText value="#{kor.prezime}" />
                        </p:column>
                        <p:column headerText="Mejl">
                            <h:outputText value="#{kor.mejl}" />
                        </p:column>
                        <p:column headerText="Zanimanje">
                            <h:outputText value="#{kor.zanimanje}" />
                        </p:column>
                        <p:column headerText="Pol">
                            <h:outputText value="#{kor.imePola()}" />
                        </p:column>
                        <p:column headerText="Datum rođenja">
                            <h:outputText value="#{kor.datRodjenja}">
                                <f:convertDateTime type="date" pattern="yyyy-MM-dd"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Slika" width="7%">
                            <p:graphicImage value="#{photos.image}" height="48px">
                                <f:param name="korisnikID" value="#{kor.korID}" />
                            </p:graphicImage>
                        </p:column>
                        <p:column headerText="Zahtevi">
                            <h:form>
                                <p:commandButton value="Prihvati" action="#{admin.prihvati(kor)}" update="panel"/>
                                <p:commandButton value="Odbij" action="#{admin.odbij(kor)}" update="panel"/> 
                            </h:form>
                        </p:column>
                    </p:dataTable>

                    <h:form style="display: inline-block">
                        <p:commandButton value="Proveri da li postoje pristigli zahtevi za registraciju" update="panel" action="#{admin.provera()}"/>
                    </h:form>
                </p:panel>

                <p:separator/>
                <h2>Igra dana:</h2>

                <h:form style="display: inline-block" id="forma1">
                    <p:panel id="panel2">
                        <h2>Slagalica</h2>
                        <h:panelGrid columns="6" cellpadding="5">
                            <p:inputText value="#{admin.slagalica.slova[0]}" required="true" label="Slovo_1" disabled="true" maxlength="2" size="2"/>
                            <p:inputText value="#{admin.slagalica.slova[1]}" required="true" label="Slovo_2" disabled="true" maxlength="2" size="2"/>
                            <p:inputText value="#{admin.slagalica.slova[2]}" required="true" label="Slovo_3" disabled="true" maxlength="2" size="2"/>
                            <p:inputText value="#{admin.slagalica.slova[3]}" required="true" label="Slovo_4" disabled="true" maxlength="2" size="2"/>
                            <p:inputText value="#{admin.slagalica.slova[4]}" required="true" label="Slovo_5" disabled="true" maxlength="2" size="2"/>
                            <p:inputText value="#{admin.slagalica.slova[5]}" required="true" label="Slovo_6" disabled="true" maxlength="2" size="2"/>
                            <p:inputText value="#{admin.slagalica.slova[6]}" required="true" label="Slovo_7" disabled="true" maxlength="2" size="2"/>
                            <p:inputText value="#{admin.slagalica.slova[7]}" required="true" label="Slovo_8" disabled="true" maxlength="2" size="2"/>
                            <p:inputText value="#{admin.slagalica.slova[8]}" required="true" label="Slovo_9" disabled="true" maxlength="2" size="2"/>
                            <p:inputText value="#{admin.slagalica.slova[9]}" required="true" label="Slovo_10" disabled="true" maxlength="2" size="2"/>
                            <p:inputText value="#{admin.slagalica.slova[10]}" required="true" label="Slovo_11" disabled="true" maxlength="2" size="2"/>
                            <p:inputText value="#{admin.slagalica.slova[11]}" required="true" label="Slovo_12" disabled="true" maxlength="2" size="2"/>
                        </h:panelGrid>

                        <p:commandButton value="Stop" update="panel2" action="#{admin.stopSlova()}" disabled="#{admin.sledeceSlovo gt 11}"/>
                    </p:panel>
                </h:form>

                <br/><br/>

                <h:form style="display: inline-block" id="forma2">
                    <p:panel id="panel3">
                        <h2>Moj broj</h2>
                        <h:panelGrid columns="3" cellpadding="5">
                            <p:inputText value="#{admin.mbr[0]}" required="true" label="MojBroj_1" disabled="true" maxlength="1" size="1"/>
                            <p:inputText value="#{admin.mbr[1]}" required="true" label="MojBroj_2" disabled="true" maxlength="1" size="1"/>
                            <p:inputText value="#{admin.mbr[2]}" required="true" label="MojBroj_3" disabled="true" maxlength="1" size="1"/>
                        </h:panelGrid>
                        <h:panelGrid columns="6" cellpadding="5">
                            <p:inputText value="#{admin.br[0]}" required="true" label="Broj_1" disabled="true" maxlength="1" size="1"/>
                            <p:inputText value="#{admin.br[1]}" required="true" label="Broj_2" disabled="true" maxlength="1" size="1"/>
                            <p:inputText value="#{admin.br[2]}" required="true" label="Broj_3" disabled="true" maxlength="1" size="1"/>
                            <p:inputText value="#{admin.br[3]}" required="true" label="Broj_4" disabled="true" maxlength="1" size="1"/>
                            <p:inputText value="#{admin.br[4]}" required="true" label="Broj_5" disabled="true" maxlength="2" size="2"/>
                            <p:inputText value="#{admin.br[5]}" required="true" label="Broj_6" disabled="true" maxlength="3" size="3"/>
                        </h:panelGrid>

                        <p:commandButton value="Stop" update="panel3" action="#{admin.stopBroj()}" disabled="#{admin.sledeciBroj gt 8}"/>
                    </p:panel>
                </h:form>

                <br/><br/>

                <h:form style="display: inline-block" id="forma3">
                    <p:panel id="panel4">
                        <h2>Skočko</h2>
                        <h:panelGrid columns="5" cellpadding="5">
                            <p:graphicImage value="#{photos.image2}" height="48px">
                                <f:param name="skocko" value="#{admin.skocko.kombinacija[0]}" />
                            </p:graphicImage>
                            <p:graphicImage value="#{photos.image2}" height="48px">
                                <f:param name="skocko" value="#{admin.skocko.kombinacija[1]}" />
                            </p:graphicImage>
                            <p:graphicImage value="#{photos.image2}" height="48px">
                                <f:param name="skocko" value="#{admin.skocko.kombinacija[2]}" />
                            </p:graphicImage>
                            <p:graphicImage value="#{photos.image2}" height="48px">
                                <f:param name="skocko" value="#{admin.skocko.kombinacija[3]}" />
                            </p:graphicImage>
                        </h:panelGrid>

                        <p:commandButton value="Stop" update="panel4" action="#{admin.stopSimbol()}" disabled="#{admin.sledeciSimbol gt 3}"/>
                    </p:panel>
                </h:form>

                <br/><br/>

                <h:form style="display: inline-block" id="forma4">
                    <p:panel id="panel5">
                        <h2>Spojnice</h2>
                        <p:dataTable var="k" value="#{admin.selektovaneSpojnice.kolona1}" rowIndexVar="index" rendered="#{admin.selektovaneSpojnice != null}">
                            <p:column headerText="Prva kolona:" style="width:200px;">
                                <p:inputText value="#{admin.selektovaneSpojnice.kolona1[index]}" label="Kolona1_#{index+1}" disabled="true"/>
                            </p:column>
                            <p:column headerText="Druga kolona:" style="width:200px;">
                                <p:inputText value="#{admin.selektovaneSpojnice.kolona2[index]}" label="Kolona2_#{index+1}" disabled="true"/>
                            </p:column>
                        </p:dataTable>

                        <p:selectOneMenu value="#{admin.spojID}">
                            <f:selectItems value="#{admin.spojniceID}" var="s" itemLabel="Spojnice#{s}" itemValue="#{s}"/>
                        </p:selectOneMenu>

                        <p:commandButton value="Izaberi" update="panel5" action="#{admin.izaberiSpojnice()}"/>
                    </p:panel>
                </h:form>

                <br/><br/>

                <h:form style="display: inline-block" id="forma5">
                    <p:panel id="panel6">
                        <h2>Asocijacije</h2>
                        <p:dataTable var="k" value="#{admin.selektovaneAsocijacije.kolone[0]}" rowIndexVar="index" rendered="#{admin.selektovaneAsocijacije != null}">
                            <p:column headerText="Kolona A:" style="width:200px;">
                                <p:inputText value="#{admin.selektovaneAsocijacije.kolone[0][index]}" label="A_#{index+1}" disabled="true"/>
                            </p:column>
                            <p:column headerText="Kolona B:" style="width:200px;">
                                <p:inputText value="#{admin.selektovaneAsocijacije.kolone[1][index]}" label="B_#{index+1}" disabled="true"/>
                            </p:column>
                            <p:column headerText="Kolona V:" style="width:200px;">
                                <p:inputText value="#{admin.selektovaneAsocijacije.kolone[2][index]}" label="V_#{index+1}" disabled="true"/>
                            </p:column>
                            <p:column headerText="Kolona G:" style="width:200px;">
                                <p:inputText value="#{admin.selektovaneAsocijacije.kolone[3][index]}" label="G_#{index+1}" disabled="true"/>
                            </p:column>
                        </p:dataTable>

                        <p:dataTable value="#{1}" rendered="#{admin.selektovaneAsocijacije != null}">
                            <p:column headerText="Rešenje kolone A:" style="width:200px;">
                                <p:inputText value="#{admin.selektovaneAsocijacije.resenjaKolona[0]}" label="A" disabled="true"/>
                            </p:column>
                            <p:column headerText="Rešenje kolone B:" style="width:200px;">
                                <p:inputText value="#{admin.selektovaneAsocijacije.resenjaKolona[1]}" label="B" disabled="true"/>
                            </p:column>
                            <p:column headerText="Rešenje kolone V:" style="width:200px;">
                                <p:inputText value="#{admin.selektovaneAsocijacije.resenjaKolona[2]}" label="V" disabled="true"/>
                            </p:column>
                            <p:column headerText="Rešenje kolone G:" style="width:200px;">
                                <p:inputText value="#{admin.selektovaneAsocijacije.resenjaKolona[3]}" label="G" disabled="true"/>
                            </p:column>
                        </p:dataTable>

                        <p:outputLabel for="resenje" value="Konačno rešenje:" rendered="#{admin.selektovaneAsocijacije != null}"/>
                        <p:inputText id="resenje" value="#{admin.selektovaneAsocijacije.konacno}" disabled="true" rendered="#{admin.selektovaneAsocijacije != null}"/>

                        <p:selectOneMenu value="#{admin.asocID}">
                            <f:selectItems value="#{admin.asocijacijeID}" var="s" itemLabel="Asocijacije#{s}" itemValue="#{s}"/>
                        </p:selectOneMenu>

                        <p:commandButton value="Izaberi" update="panel6" action="#{admin.izaberiAsocijacije()}"/>
                    </p:panel>
                </h:form>

                <br/><br/>

                <h:form id="forma6">
                    <p:outputLabel for="datum" value="Datum:" />
                    <p:datePicker id="datum" value="#{admin.datum}" required="true"/>
                    <p:commandButton value="Unesi" action="#{admin.unesiIgruDana()}" update="forma1 forma2 forma3 forma4 forma5 forma6"/>

                    <p:messages id="messages" showDetail="true" closable="true" severity="error">
                        <p:autoUpdate />
                    </p:messages>

                    <p:messages id="messages2" showDetail="true" closable="true" severity="info">
                        <p:autoUpdate />
                    </p:messages>
                </h:form>
                <p:separator/>

                <h:form>
                    <p:commandButton value="Odjavi se" action="#{logout.logout()}"/>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
