<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./templejt.xhtml">
            <ui:define name="content">

                <p:panel id="panel"> 
                    <h:form style="display: inline-block">
                        <p:commandButton value="Pogledaj rang listu za prethodnu nedelju" update="panel" action="#{guest.dohvRangListuZaPrethodnuNedelju()}"/>
                    </h:form>
                    <h:form style="display: inline-block">
                        <p:commandButton value="Pogledaj rang listu za prethodni mesec" update="panel" action="#{guest.dohvRangListuZaPrethodniMesec()}"/>
                    </h:form>

                    <br/><br/>

                    <p:dataTable var="k" value="#{guest.rangLista}" rowIndexVar="index"  rendered="#{not guest.daLiJeRangListaZaMesec and guest.rangLista.size() gt 0}" style="display: inline-block">
                        <f:facet name="header">
                            Rang lista prethodne nedelje
                        </f:facet>
                        <p:column headerText="Rang" style="width:50px;">
                            <h:outputText value="#{index+1}" />
                        </p:column>
                        <p:column headerText="Korisničko ime" style="width:150px;">
                            <h:outputText value="#{k.korIme}" />
                        </p:column>
                        <p:column headerText="Poeni" style="width:50px;">
                            <h:outputText value="#{k.poeni}" />
                        </p:column>
                    </p:dataTable>

                    <p:dataTable var="k" value="#{guest.rangLista}" rowIndexVar="index"  rendered="#{guest.daLiJeRangListaZaMesec and guest.rangLista.size() gt 0}" style="display: inline-block">
                        <f:facet name="header">
                            Rang lista meseca
                        </f:facet>
                        <p:column headerText="Rang" style="width:50px;">
                            <h:outputText value="#{index+1}" />
                        </p:column>
                        <p:column headerText="Korisničko ime" style="width:150px;">
                            <h:outputText value="#{k.korIme}" />
                        </p:column>
                        <p:column headerText="Poeni" style="width:50px;">
                            <h:outputText value="#{k.poeni}" />
                        </p:column>
                    </p:dataTable>

                    <h:outputText id="nedelja" value="Ne postoje odigrane igre za prethodnu nedelju" rendered="#{not guest.daLiJeRangListaZaMesec and guest.rangLista.size() eq 0}"/>
                    <h:outputText id="mesec" value="Ne postoje odigrane igre za prethodni mesec" rendered="#{guest.daLiJeRangListaZaMesec and guest.rangLista.size() eq 0}"/>
                </p:panel>

            </ui:define>
        </ui:composition>

    </body>
</html>
