<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./templejt.xhtml">

            <ui:define name="top">
                SLAGALICA
                <h:form>
                    <p:media id="sound" value="/resources/images/sound.mp3" height="0" player="quicktime" style="visibility: hidden;">
                        <f:param name="autoPlay" value="true" />
                        <f:param name="enablejavascript" value="true"/>
                    </p:media>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
