<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./templejt.xhtml">

            <ui:define name="content">
                <h:form style="display: inline-block">
                    <p:panel id="panel">

                        <h:panelGrid columns="3" cellpadding="5">
                            <p:outputLabel for="korIme" value="Korisničko ime:"/>
                            <p:inputText id="korIme" value="#{change.korIme}" label="KorIme" required="true">
                                <f:validateLength minimum="2"/>
                                <p:ajax update="msgKorIme" event="keyup"/>
                            </p:inputText>
                            <p:message for="korIme" id="msgKorIme"/>

                            <p:outputLabel for="lozinka" value="Lozinka:"/>
                            <p:password id="lozinka" value="#{change.lozinka}" label="Lozinka" required="true">
                                <f:validateLength minimum="8" maximum="16"/>
                                <p:ajax update="msgLozinka" event="keyup"/>
                            </p:password>
                            <p:message for="lozinka" id="msgLozinka"/>

                            <p:outputLabel for="nova" value="Nova lozinka:"/>
                            <p:password id="nova" value="#{change.nova}" label="Nova lozinka" required="true">
                                <f:validateLength minimum="8" maximum="16"/>
                                <f:validateRegex pattern="^(?=.*\d)(?=.*[a-z].*[a-z].*[a-z])(?=.*[A-Z])(?=.*[\.,@#$%])[A-Za-z0-9][A-Za-z0-9\.,@#$%]{7,15}$"/>
                                <p:ajax update="msgNovaLozinka" event="keyup"/>
                            </p:password>
                            <p:message for="nova" id="msgNovaLozinka"/>
                        </h:panelGrid>

                        <p:commandButton value="Promeni lozinku" update="panel" action="#{change.change()}"/>

                        <p:messages id="messages" showDetail="true" closable="true" severity="error">
                            <p:autoUpdate />
                        </p:messages>
                    </p:panel>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
