<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head/>

    <body>

        <ui:composition template="./templejt.xhtml">

            <ui:define name="content">
                <h:form enctype="multipart/form-data" style="display: inline-block">
                    <p:panel id="panel">

                        <h:panelGrid columns="3" cellpadding="5">
                            <p:outputLabel for="ime" value="Ime:" />
                            <p:inputText id="ime" value="#{register.ime}" label="Ime" required="true">
                                <f:validateLength minimum="2" />
                                <p:ajax update="msgIme" event="keyup" />
                            </p:inputText>
                            <p:message for="ime" id="msgIme"/>

                            <p:outputLabel for="prezime" value="Prezime:" />
                            <p:inputText id="prezime" value="#{register.prezime}" label="Prezime" required="true">
                                <f:validateLength minimum="2" />
                                <p:ajax update="msgPrezime" event="keyup" />
                            </p:inputText>
                            <p:message for="prezime" id="msgPrezime"/>

                            <p:outputLabel for="mejl" value="Mejl:" />
                            <p:inputText id="mejl" value="#{register.mejl}" label="Mejl" required="true">
                                <f:validateLength minimum="2" />
                                <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                                <p:ajax update="msgMejl" event="keyup" />
                            </p:inputText>
                            <p:message for="mejl" id="msgMejl"/>

                            <p:outputLabel for="zanimanje" value="Zanimanje:" />
                            <p:inputText id="zanimanje" value="#{register.zanimanje}" label="Zanimanje" required="true">
                                <f:validateLength minimum="2" />
                                <p:ajax update="msgZanimanje" event="keyup" />
                            </p:inputText>
                            <p:message for="zanimanje" id="msgZanimanje"/>

                            <p:outputLabel for="korIme" value="Korisničko ime:" />
                            <p:inputText id="korIme" value="#{register.korIme}" label="KorIme" required="true">
                                <f:validateLength minimum="2" />
                                <p:ajax update="msgKorIme" event="keyup" />
                            </p:inputText>
                            <p:message for="korIme" id="msgKorIme"/>


                            <p:outputLabel for="lozinka" value="Lozinka:" />
                            <p:password id="lozinka" value="#{register.lozinka}" label="Lozinka" required="true">
                                <f:validateLength minimum="8" maximum="16" />
                                <f:validateRegex pattern="^(?=.*\d)(?=.*[a-z].*[a-z].*[a-z])(?=.*[A-Z])(?=.*[\.,@#$%])[A-Za-z0-9][A-Za-z0-9\.,@#$%]{7,15}$"/>
                                <p:ajax update="msgLozinka" event="keyup" />
                            </p:password>
                            <p:message for="lozinka" id="msgLozinka"/>

                            <p:outputLabel for="lozinka2" value="Potvrda lozinke:" />
                            <p:password id="lozinka2" value="#{register.lozinka2}" label="Potvrda lozinke" required="true" >
                                <f:validateLength minimum="8" maximum="16" />
                                <p:ajax update="msgLozinka2" event="keyup" />
                            </p:password>
                            <p:message for="lozinka2" id="msgLozinka2"/>

                            <p:outputLabel for="pol" value="Pol:" />
                            <p:selectOneRadio id="pol" value="#{register.pol}" unselectable="true" required="true">
                                <f:selectItem itemLabel="muški" itemValue="1" />
                                <f:selectItem itemLabel="ženski" itemValue="2" />
                                <p:ajax update="msgPol" event="change" />
                            </p:selectOneRadio>
                            <p:message for="pol" id="msgPol"/>

                            <p:outputLabel for="datRodjenja" value="Datum rođenja:" />
                            <p:datePicker id="datRodjenja" value="#{register.datRodjenja}" required="true">
                                <p:ajax update="msgDatRodjenja" event="change" />
                            </p:datePicker>
                            <p:message for="datRodjenja" id="msgDatRodjenja"/>

                            <p:outputLabel value="Slika:" />
                            <p:fileUpload id="slika" value="#{register.f}" mode="simple" skinSimple="true" required="true" dragDropSupport="true" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" label="Izaberi"/>
                            <p:message for="slika" id="msgSlika"/>
                        </h:panelGrid>

                        <p:commandButton value="Registruj se" update="panel" action="#{register.register()}" ajax="false"/>

                        <p:messages id="messages" showDetail="true" closable="true" severity="error">
                            <p:autoUpdate />
                        </p:messages>
                        <p:messages id="messages2" showDetail="true" closable="true" severity="info">
                            <p:autoUpdate />
                        </p:messages>
                    </p:panel>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
