<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./templejt.xhtml">

            <ui:define name="top">
                Supervizor: #{supervizor.korIme}
            </ui:define>

            <ui:define name="content">
                <h:form style="display: inline-block">
                    <p:panel id="panel1">
                        <h2>Slagalica</h2>
                        <p:outputLabel for="rec" value="Reč:"/>
                        <p:inputText id="rec" value="#{supervizor.rec}" required="true"/>

                        <p:commandButton value="Unesi" update="panel1" action="#{supervizor.dodajRec()}"/>
                    </p:panel>
                </h:form>

                <p:separator/>

                <h:form style="display: inline-block">
                    <p:panel id="panel2">
                        <h2>Spojnice</h2>
                        <p:dataTable var="k" value="#{supervizor.spojnice.kolona1}" rowIndexVar="index">
                            <p:column headerText="Prva kolona: *" style="width:200px;">
                                <p:inputText value="#{supervizor.spojnice.kolona1[index]}" required="true" label="Kolona1_#{index+1}"/>
                            </p:column>
                            <p:column headerText="Druga kolona: *" style="width:200px;">
                                <p:inputText value="#{supervizor.spojnice.kolona2[index]}" required="true" label="Kolona2_#{index+1}"/>
                            </p:column>
                        </p:dataTable>

                        <p:commandButton value="Unesi" update="panel2" action="#{supervizor.dodajSpojnice()}"/>
                    </p:panel>
                </h:form>

                <p:separator/>

                <h:form style="display: inline-block">
                    <p:panel id="panel3">
                        <h2>Asocijacije</h2>
                        <p:dataTable var="k" value="#{supervizor.asocijacije.kolone[0]}" rowIndexVar="index">
                            <p:column headerText="Kolona A: *" style="width:200px;">
                                <p:inputText value="#{supervizor.asocijacije.kolone[0][index]}" required="true" label="A_#{index+1}"/>
                            </p:column>
                            <p:column headerText="Kolona B: *" style="width:200px;">
                                <p:inputText value="#{supervizor.asocijacije.kolone[1][index]}" required="true" label="B_#{index+1}"/>
                            </p:column>
                            <p:column headerText="Kolona V: *" style="width:200px;">
                                <p:inputText value="#{supervizor.asocijacije.kolone[2][index]}" required="true" label="V_#{index+1}"/>
                            </p:column>
                            <p:column headerText="Kolona G: *" style="width:200px;">
                                <p:inputText value="#{supervizor.asocijacije.kolone[3][index]}" required="true" label="G_#{index+1}"/>
                            </p:column>
                        </p:dataTable>

                        <p:dataTable value="#{1}">
                            <p:column headerText="Rešenje kolone A: *" style="width:200px;">
                                <p:inputText value="#{supervizor.asocijacije.resenjaKolona[0]}" required="true" label="A"/>
                            </p:column>
                            <p:column headerText="Rešenje kolone B: *" style="width:200px;">
                                <p:inputText value="#{supervizor.asocijacije.resenjaKolona[1]}" required="true" label="B"/>
                            </p:column>
                            <p:column headerText="Rešenje kolone V: *" style="width:200px;">
                                <p:inputText value="#{supervizor.asocijacije.resenjaKolona[2]}" required="true" label="V"/>
                            </p:column>
                            <p:column headerText="Rešenje kolone G: *" style="width:200px;">
                                <p:inputText value="#{supervizor.asocijacije.resenjaKolona[3]}" required="true" label="G"/>
                            </p:column>
                        </p:dataTable>

                        <h:panelGrid columns="3" cellpadding="5" style="display: inline-block">
                            <p:outputLabel for="resenje" value="Konačno rešenje:"/>
                            <p:inputText id="resenje" value="#{supervizor.r}" required="true"/>

                            <p:commandButton value="Dodaj sinonime konačnog rešenja" update="messages messages2" action="#{supervizor.nesto}">
                                <p:collector value="#{supervizor.r}" addTo="#{supervizor.resenja}" unique="true"/>
                            </p:commandButton>
                        </h:panelGrid>
                        <br/>
                        <p:commandButton value="Unesi" update="panel3" action="#{supervizor.dodajAsocijacije()}"/>
                    </p:panel>
                </h:form>

                <p:separator/>

                <p:messages id="messages" showDetail="true" closable="true" severity="error">
                    <p:autoUpdate />
                </p:messages>
                <p:messages id="messages2" showDetail="true" closable="true" severity="info">
                    <p:autoUpdate />
                </p:messages>

                <h:form>
                    <p:commandButton value="Odjavi se" action="#{logout.logout()}"/>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
