<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="css/default.css"/>
        <h:outputStylesheet name="css/cssLayout.css"/>
        <title>SLAGALICA</title>
    </h:head>

    <h:body>

        <div id="top">
            <ui:insert name="top">SLAGALICA</ui:insert>
        </div>

        <p:separator/>

        <div class="center_content">
            <ui:insert name="content">Dobrodošli u slagalicu!</ui:insert>
        </div>

        <p:separator/>

        <div id="bottom">
            <p:dock position="top">
                <p:menuitem value="početna stranica" icon="/resources/images/smajli.png" url="home.xhtml"/>
                <p:menuitem value="prijava" icon="/resources/images/herc.png" url="prijava.xhtml"/>
                <p:menuitem value="registracija" icon="/resources/images/pik.png" url="registracija.xhtml"/>
                <p:menuitem value="promena lozinke" icon="/resources/images/karo.png" url="promenaLozinke.xhtml"/>
                <p:menuitem value="gost" icon="/resources/images/tref.png" url="gost.xhtml"/>
                <p:menuitem value="info" icon="/resources/images/zvezda.png" url="info.xhtml"/>
            </p:dock>
        </div>

    </h:body>

</html>
