<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./templejt.xhtml">
            <ui:define name="top">
                Učesnik: #{player.korIme}
            </ui:define>

            <ui:define name="content">
                <h:form enctype="multipart/form-data" id="forma1">
                    
                    <p:panel id="panel">

                        <p:commandButton value="Započni novu igru" update="forma1 forma2" action="#{player.zapocni()}"/>                   
                        <p:commandButton value="Pridruži se postojećoj igri" update="forma1 forma2" action="#{player.pridruziSe()}"/>                                      
                        <p:commandButton value="Igraj igru dana" update="forma1 forma2" action="#{player.igraDana()}"/>
                        <p:commandButton value="Pogledaj rezultate" update="forma1 forma2 forma3" action="#{player.rezultati()}"/>

                        <p:poll interval="1" listener="#{player.gdeJeCrveni()}" update="forma1 forma2" />

                    </p:panel>
                </h:form>

                <p:separator/>

                <h:form id="forma2">
                    #{player.poruka}
                    <p:panel rendered="#{player.cekanje}">
                        <h:outputText value="Čeka se crveni igrač"/>
                    </p:panel>
                </h:form>

                <h:form style="display: inline-block" id="forma3">
                    <p:panel rendered="#{player.topScore}">
                        <p:dataTable var="kor" value="#{player.rangLista}" rowIndexVar="index" rows="10" >
                            <f:facet name="header">
                                Rang lista za igru dana
                            </f:facet>
                            <p:column headerText="Rang" style="width:50px;">
                                <h:outputText value="#{index+1}" />
                            </p:column>
                            <p:column headerText="Korisničko ime" style="width:150px;">
                                <h:outputText value="#{kor.korIme}" />
                            </p:column>
                            <p:column headerText="Poeni" style="width:50px;">
                                <h:outputText value="#{kor.poeni}" />
                            </p:column>
                        </p:dataTable>
                        <h:outputText value="Vaš rang je: #{player.rangKorisnika}" rendered="#{player.rangKorisnika gt 10}"/>
                        <br/>
                        <p:dataTable var="kor" value="#{player.odigranePartije}" rowIndexVar="index" >
                            <f:facet name="header">
                                Odigrane partije sa drugim igračima
                            </f:facet>
                            <p:column headerText="Redni broj" style="width:80px;">
                                <h:outputText value="#{index+1}" />
                            </p:column>
                            <p:column headerText="Protivnik" style="width:150px;">
                                <h:outputText value="#{player.protivnik(index)}" />
                            </p:column>
                            <p:column headerText="Ishod" style="width:150px;">
                                <h:outputText value="#{player.ishod(index)}" />
                            </p:column>
                            <p:column headerText="Datum" style="width:150px;">
                                <h:outputText value="#{kor.vreme}">
                                    <f:convertDateTime type="date" pattern="yyyy-MM-dd"/>
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                </h:form>

                <p:separator/>
                <h:form>
                    <p:commandButton value="Odjavi se" action="#{logout.logout()}"/>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
