<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./templejt.xhtml">
            <ui:define name="top">
                Učesnik: #{asocijacije2.korIme}
            </ui:define>

            <ui:define name="content">
                <h:form style="display: inline-block" id="panel2">
                    <div class="#{asocijacije2.bojaIgraca}">
                        <br/>

                        <p:panel class="mojPanel">
                            <h2>Asocijacije</h2>
                            <h:panelGrid columns="4" cellpadding="5" style="display: inline-block">
                                <p:dataTable value="#{asocijacije2.otvorenaPolja[0]}" var="k" rowIndexVar="index">
                                    <p:column headerText="Kolona A" style="width:200px;" class="#{asocijacije2.boja[0][index]}">
                                        <p:commandLink disabled="#{asocijacije2.preostaloVreme eq 0 or asocijacije2.ok[0][index] eq true or asocijacije2.sadIgram() eq false}" action="#{asocijacije2.selektuj(0,index)}" update="panel2">
                                            <h:outputText id="A_#{index}" value="#{asocijacije2.otvorenaPolja[0][index]}"/> 
                                        </p:commandLink> 
                                    </p:column>
                                    <p:column headerText="Kolona B" style="width:200px;" class="#{asocijacije2.boja[1][index]}">
                                        <p:commandLink disabled="#{asocijacije2.preostaloVreme eq 0 or asocijacije2.ok[1][index] eq true or asocijacije2.sadIgram() eq false}" action="#{asocijacije2.selektuj(1,index)}" update="panel2">
                                            <h:outputText id="B_#{index}" value="#{asocijacije2.otvorenaPolja[1][index]}"/> 
                                        </p:commandLink> 
                                    </p:column>
                                    <p:column headerText="Kolona V" style="width:200px;" class="#{asocijacije2.boja[2][index]}">
                                        <p:commandLink disabled="#{asocijacije2.preostaloVreme eq 0 or asocijacije2.ok[2][index] eq true or asocijacije2.sadIgram() eq false}" action="#{asocijacije2.selektuj(2,index)}" update="panel2">
                                            <h:outputText id="V_#{index}" value="#{asocijacije2.otvorenaPolja[2][index]}"/> 
                                        </p:commandLink> 
                                    </p:column>
                                    <p:column headerText="Kolona G" style="width:200px;" class="#{asocijacije2.boja[3][index]}">
                                        <p:commandLink disabled="#{asocijacije2.preostaloVreme eq 0 or asocijacije2.ok[3][index] eq true or asocijacije2.sadIgram() eq false}" action="#{asocijacije2.selektuj(3,index)}" update="panel2">
                                            <h:outputText id="G_#{index}" value="#{asocijacije2.otvorenaPolja[3][index]}"/> 
                                        </p:commandLink> 
                                    </p:column>
                                </p:dataTable>
                            </h:panelGrid>
                            <br/>
                            <h:panelGrid columns="4" cellpadding="5" style="display: inline-block" class="mojPanelGrid">
                                <p:inputText value="#{asocijacije2.resenja[0]}" label="A" disabled="#{asocijacije2.preostaloVreme eq 0 or asocijacije2.okResenja[0]}" class="#{asocijacije2.bojeResenja[0]}"/>
                                <p:inputText value="#{asocijacije2.resenja[1]}" label="B" disabled="#{asocijacije2.preostaloVreme eq 0 or asocijacije2.okResenja[1]}" class="#{asocijacije2.bojeResenja[1]}"/>
                                <p:inputText value="#{asocijacije2.resenja[2]}" label="V" disabled="#{asocijacije2.preostaloVreme eq 0 or asocijacije2.okResenja[2]}" class="#{asocijacije2.bojeResenja[2]}"/>
                                <p:inputText value="#{asocijacije2.resenja[3]}" label="G" disabled="#{asocijacije2.preostaloVreme eq 0 or asocijacije2.okResenja[3]}" class="#{asocijacije2.bojeResenja[3]}"/>

                                <p:commandButton value="Potvrdi kolonu A" disabled="#{asocijacije2.preostaloVreme eq 0 or asocijacije2.okResenja[0] eq true or asocijacije2.sadIgram() eq false}" action="#{asocijacije2.gadjaj(0)}" update="panel2"/>
                                <p:commandButton value="Potvrdi kolonu B" disabled="#{asocijacije2.preostaloVreme eq 0 or asocijacije2.okResenja[1] eq true or asocijacije2.sadIgram() eq false}" action="#{asocijacije2.gadjaj(1)}" update="panel2"/>
                                <p:commandButton value="Potvrdi kolonu V" disabled="#{asocijacije2.preostaloVreme eq 0 or asocijacije2.okResenja[2] eq true or asocijacije2.sadIgram() eq false}" action="#{asocijacije2.gadjaj(2)}" update="panel2"/>
                                <p:commandButton value="Potvrdi kolonu G" disabled="#{asocijacije2.preostaloVreme eq 0 or asocijacije2.okResenja[3] eq true or asocijacije2.sadIgram() eq false}" action="#{asocijacije2.gadjaj(3)}" update="panel2"/>
                            </h:panelGrid>
                            <br/>

                            <h:panelGrid columns="2" cellpadding="5" style="display: inline-block" class="mojPanelGrid">
                                <p:inputText value="#{asocijacije2.resenja[4]}" label="Konačno" disabled="#{asocijacije2.preostaloVreme eq 0 or asocijacije2.okResenja[4] or asocijacije2.sadIgram() eq false}" class="#{asocijacije2.bojeResenja[4]}"/>
                                <p:commandButton value="Potvrdi konačno rešenje" disabled="#{asocijacije2.preostaloVreme eq 0 or asocijacije2.okResenja[4] eq true}" action="#{asocijacije2.gadjaj(4)}" update="panel2"/>
                            </h:panelGrid>
                            <br/>
                            <p:commandButton value="Kreni" update="panel2" action="#{asocijacije2.kreni()}" disabled="#{asocijacije2.pokrenut}"/>
                        </p:panel>

                        <br/>
                        <br/>
                    </div>
                    <p:separator/>

                    <p:panel id="panel">
                        <h:panelGrid columns="1" cellpadding="5">
                            <h:outputText id="preostaloVreme" value="Preostalo vreme: #{asocijacije2.preostaloVreme}" />
                            <p:poll interval="1" listener="#{asocijacije2.smanjiVreme}" update="panel2, panel"/>
                        </h:panelGrid>
                        <h:panelGrid columns="1" cellpadding="5">
                            <p:commandButton value="Završi igru" action="#{asocijacije2.zavrsiIgru()}"/>
                        </h:panelGrid>
                        <h:panelGrid columns="1" cellpadding="5">
                            <h:outputText id="ukupno" value="Ukupan broj poena koje ste osvojili: #{asocijacije2.ukupanBrojPoena}"/>
                            <h:outputText id="poeni" value="Broj poena koje ste osvojili u ovoj igri: #{asocijacije2.poeni}" rendered="#{asocijacije2.preostaloVreme eq 0}"/>

                            <h:outputText id="prikazRezultataA" value="Rešenje kolone A: #{asocijacije2.asocijacije.resenjaKolona[0]}" rendered="#{asocijacije2.preostaloVreme eq 0 and asocijacije2.okResenja[0] eq false}"/>
                            <h:outputText id="prikazRezultataB" value="Rešenje kolone B: #{asocijacije2.asocijacije.resenjaKolona[1]}" rendered="#{asocijacije2.preostaloVreme eq 0 and asocijacije2.okResenja[1] eq false}"/>
                            <h:outputText id="prikazRezultataV" value="Rešenje kolone V: #{asocijacije2.asocijacije.resenjaKolona[2]}" rendered="#{asocijacije2.preostaloVreme eq 0 and asocijacije2.okResenja[2] eq false}"/>
                            <h:outputText id="prikazRezultataG" value="Rešenje kolone G: #{asocijacije2.asocijacije.resenjaKolona[3]}" rendered="#{asocijacije2.preostaloVreme eq 0 and asocijacije2.okResenja[3] eq false}"/>
                            <h:outputText id="prikazRezultata" value="Konačno rešenje: #{asocijacije2.asocijacije.konacno}" rendered="#{asocijacije2.preostaloVreme eq 0 and asocijacije2.okResenja[4] eq false}"/>
                        </h:panelGrid>
                    </p:panel>

                </h:form>
            </ui:define>
        </ui:composition>

    </body>
</html>
