<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./templejt.xhtml">
            <ui:define name="top">
                Učesnik: #{mojBroj2.korIme}
            </ui:define>

            <ui:define name="content">
                <div class="#{mojBroj2.bojaIgraca}">
                    <br/>

                    <h:form style="display: inline-block">
                        <p:panel id="panel2">
                            <h2>Moj Broj</h2>
                            <h:panelGrid columns="3" cellpadding="5">
                                <p:commandButton value="#{mojBroj2.brojevi[0]}" label="Broj_1" disabled="true" action="#{mojBroj2.dodaj(0)}" update="panel2"/>
                                <p:commandButton value="#{mojBroj2.brojevi[1]}" label="Broj_2" disabled="true" action="#{mojBroj2.dodaj(1)}" update="panel2"/>
                                <p:commandButton value="#{mojBroj2.brojevi[2]}" label="Broj_3" disabled="true" action="#{mojBroj2.dodaj(2)}" update="panel2"/>
                            </h:panelGrid>

                            <h:panelGrid columns="6" cellpadding="5">
                                <p:commandButton value="#{mojBroj2.brojevi[3]}" label="Broj_4" disabled="#{mojBroj2.ok[3] or mojBroj2.preostaloVreme eq 0}" action="#{mojBroj2.dodaj(3)}" update="panel2"/>
                                <p:commandButton value="#{mojBroj2.brojevi[4]}" label="Broj_5" disabled="#{mojBroj2.ok[4] or mojBroj2.preostaloVreme eq 0}" action="#{mojBroj2.dodaj(4)}" update="panel2"/>
                                <p:commandButton value="#{mojBroj2.brojevi[5]}" label="Broj_6" disabled="#{mojBroj2.ok[5] or mojBroj2.preostaloVreme eq 0}" action="#{mojBroj2.dodaj(5)}" update="panel2"/>
                                <p:commandButton value="#{mojBroj2.brojevi[6]}" label="Broj_7" disabled="#{mojBroj2.ok[6] or mojBroj2.preostaloVreme eq 0}" action="#{mojBroj2.dodaj(6)}" update="panel2"/>
                                <p:commandButton value="#{mojBroj2.brojevi[7]}" label="Broj_8" disabled="#{mojBroj2.ok[7] or mojBroj2.preostaloVreme eq 0}" action="#{mojBroj2.dodaj(7)}" update="panel2"/>
                                <p:commandButton value="#{mojBroj2.brojevi[8]}" label="Broj_9" disabled="#{mojBroj2.ok[8] or mojBroj2.preostaloVreme eq 0}" action="#{mojBroj2.dodaj(8)}" update="panel2"/>

                                <p:commandButton value="#{mojBroj2.brojevi[9]}" label="Broj_10" disabled="#{mojBroj2.ok[9] or mojBroj2.preostaloVreme eq 0}" action="#{mojBroj2.dodaj(9)}" update="panel2"/>
                                <p:commandButton value="#{mojBroj2.brojevi[10]}" label="Broj_11" disabled="#{mojBroj2.ok[10] or mojBroj2.preostaloVreme eq 0}" action="#{mojBroj2.dodaj(10)}" update="panel2"/>
                                <p:commandButton value="#{mojBroj2.brojevi[11]}" label="Broj_12" disabled="#{mojBroj2.ok[11] or mojBroj2.preostaloVreme eq 0}" action="#{mojBroj2.dodaj(11)}" update="panel2"/>
                                <p:commandButton value="#{mojBroj2.brojevi[12]}" label="Broj_13" disabled="#{mojBroj2.ok[12] or mojBroj2.preostaloVreme eq 0}" action="#{mojBroj2.dodaj(12)}" update="panel2"/>
                                <p:commandButton value="#{mojBroj2.brojevi[13]}" label="Broj_14" disabled="#{mojBroj2.ok[13] or mojBroj2.preostaloVreme eq 0}" action="#{mojBroj2.dodaj(13)}" update="panel2"/>
                                <p:commandButton value="#{mojBroj2.brojevi[14]}" label="Broj_15" disabled="#{mojBroj2.ok[14] or mojBroj2.preostaloVreme eq 0}" action="#{mojBroj2.dodaj(14)}" update="panel2"/>

                            </h:panelGrid>

                            <p:commandButton value="Stop" update="panel2" action="#{mojBroj2.stopBroj()}" disabled="#{mojBroj2.sledeciBroj gt 8}"/>
                            <p:commandButton value="Briši" update="panel2" action="#{mojBroj2.brisi()}" disabled="#{mojBroj2.sledeciBroj lt 9 or mojBroj2.preostaloVreme eq 0 or mojBroj2.sledecaPozicija eq 0}"/>

                            <p:inputText value="#{mojBroj2.resenje}" label="resenje" disabled="true" maxlength="30" size="30"/>

                        </p:panel>
                    </h:form>

                    <br/>
                    <br/>
                </div>
                <p:separator/>

                <p:panel id="panel">
                    <h:form style="display: inline-block">
                        <h:panelGrid columns="1" cellpadding="5">
                            <h:outputText id="preostaloVreme" value="Preostalo vreme: #{mojBroj2.preostaloVreme}" />
                            <p:poll interval="1" listener="#{mojBroj2.smanjiVreme}" update="panel"/>
                        </h:panelGrid>
                        <h:panelGrid columns="2" cellpadding="5">
                            <p:commandButton value="Završi Moj Broj" action="#{mojBroj2.zavrsiMojBroj()}"/>
                            <p:commandButton value="Završi igru" action="#{mojBroj2.zavrsiIgru()}"/>
                        </h:panelGrid>
                        <h:panelGrid columns="1" cellpadding="5">
                            <h:outputText id="ukupno" value="Ukupan broj poena koje ste osvojili: #{mojBroj2.ukupanBrojPoena}"/>
                            <h:outputText id="poeni" value="Broj poena koje ste osvojili u ovoj igri: #{mojBroj2.poeni}" rendered="#{mojBroj2.preostaloVreme eq 0}"/>
                        </h:panelGrid>
                    </h:form>
                </p:panel>

            </ui:define>
        </ui:composition>

    </body>
</html>
