<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./templejt.xhtml">
            <ui:define name="top">
                Učesnik: #{rezultati.korIme}
            </ui:define>

            <ui:define name="content">
                <div class="#{rezultati.bojaIgraca}">
                    <br/>

                    <h:form style="display: inline-block" id="panel2">
                        <p:panel>
                            <h2>Rezultati partije</h2>
                            <p:dataTable value="#{rezultati.podaci[0]}" var="k" rowIndexVar="index">
                                <p:column headerText="Igre" style="width:200px;" class="sivaBoja">
                                    <h:outputText value="#{rezultati.podaci[0][index]}"/> 
                                </p:column>
                                <p:column headerText="Poeni plavog" style="width:200px;" class="belaBoja">
                                    <h:outputText value="#{rezultati.podaci[1][index]}"/> 
                                </p:column>
                                <p:column headerText="Poeni crvenog" style="width:200px;" class="belaBoja">
                                    <h:outputText value="#{rezultati.podaci[2][index]}"/> 
                                </p:column>
                            </p:dataTable>
                            <br/>
                            <p:commandButton value="Završi partiju" update="panel2" action="#{rezultati.zavrsiPartiju()}"/>
                        </p:panel>
                    </h:form>

                    <br/>
                    <br/>
                </div>

            </ui:define>
        </ui:composition>

    </body>
</html>
