<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./templejt.xhtml">
            <ui:define name="top">
                Učesnik: #{skocko2.korIme}
            </ui:define>

            <ui:define name="content">
                <div class="#{skocko2.bojaIgraca}">
                    <br/>

                    <h:form style="display: inline-block" id="rezultat">
                        <p:panel id="panel2">
                            <h2>Skočko</h2>
                            <p:repeat value="#{skocko2.simboli}" var="red" varStatus="status">
                                <h:panelGrid columns="6" cellpadding="5">
                                    <p:graphicImage value="#{photos.image2}" height="48px" width="48px">
                                        <f:param name="skocko" value="#{skocko2.simboli[status.index][0]}" />
                                    </p:graphicImage>
                                    <p:graphicImage value="#{photos.image2}" height="48px" width="48px">
                                        <f:param name="skocko" value="#{skocko2.simboli[status.index][1]}" />
                                    </p:graphicImage>
                                    <p:graphicImage value="#{photos.image2}" height="48px" width="48px">
                                        <f:param name="skocko" value="#{skocko2.simboli[status.index][2]}" />
                                    </p:graphicImage>
                                    <p:graphicImage value="#{photos.image2}" height="48px" width="48px">
                                        <f:param name="skocko" value="#{skocko2.simboli[status.index][3]}" />
                                    </p:graphicImage>

                                    <p:commandButton value="?" action="#{skocko2.proveri()}" update="rezultat" disabled="#{(skocko2.brojSimbolaURedu lt 4 and skocko2.sadIgram()) or status.index ne skocko2.sledeciRed or skocko.kraj}"/>
                                    <p:graphicImage value="#{photos.image2}" height="48px" width="48px">
                                        <f:param name="skocko" value="#{skocko2.pogodak[status.index]}" />
                                    </p:graphicImage>                                
                                </h:panelGrid>
                            </p:repeat>

                            <h:panelGrid columns="6" cellpadding="5">
                                <p:commandLink action="#{skocko2.dodaj(0)}" update="panel2" disabled="#{skocko2.brojSimbolaURedu gt 3 or not skocko2.pokrenut or skocko2.kraj or not skocko2.sadIgram()}">
                                    <h:graphicImage value="/resources/images/skocko.png" height="48px" width="48px"/>
                                </p:commandLink>
                                <p:commandLink action="#{skocko2.dodaj(1)}" update="panel2" disabled="#{skocko2.brojSimbolaURedu gt 3 or not skocko2.pokrenut or skocko2.kraj or not skocko2.sadIgram()}">
                                    <h:graphicImage value="/resources/images/herc.png" height="48px" width="48px"/>
                                </p:commandLink>
                                <p:commandLink action="#{skocko2.dodaj(2)}" update="panel2" disabled="#{skocko2.brojSimbolaURedu gt 3 or not skocko2.pokrenut or skocko2.kraj or not skocko2.sadIgram()}">
                                    <h:graphicImage value="/resources/images/pik.png" height="48px" width="48px"/>
                                </p:commandLink>
                                <p:commandLink action="#{skocko2.dodaj(3)}" update="panel2" disabled="#{skocko2.brojSimbolaURedu gt 3 or not skocko2.pokrenut or skocko2.kraj or not skocko2.sadIgram()}">
                                    <h:graphicImage value="/resources/images/karo.png" height="48px" width="48px"/>
                                </p:commandLink>
                                <p:commandLink action="#{skocko2.dodaj(4)}" update="panel2" disabled="#{skocko2.brojSimbolaURedu gt 3 or not skocko2.pokrenut or skocko2.kraj or not skocko2.sadIgram()}">
                                    <h:graphicImage value="/resources/images/tref.png" height="48px" width="48px"/>
                                </p:commandLink>
                                <p:commandLink action="#{skocko2.dodaj(5)}" update="panel2" disabled="#{skocko2.brojSimbolaURedu gt 3 or not skocko2.pokrenut or skocko2.kraj or not skocko2.sadIgram()}">
                                    <h:graphicImage value="/resources/images/zvezda.png" height="48px" width="48px"/>
                                </p:commandLink>                      
                            </h:panelGrid>

                            <p:commandButton value="Kreni" update="panel2" action="#{skocko2.kreni()}" disabled="#{skocko2.pokrenut}"/>
                            <p:commandButton value="Briši" update="panel2" action="#{skocko2.brisi()}" disabled="#{not skocko2.pokrenut or skocko2.brojSimbolaURedu eq 0  or skocko2.kraj or not skocko2.sadIgram()}"/>
                        </p:panel>
                    </h:form>

                    <br/>
                    <br/>
                </div>
                <p:separator/>

                <p:panel id="panel">
                    <h:form style="display: inline-block">
                        <h:panelGrid columns="1" cellpadding="5">
                            <h:outputText id="preostaloVreme" value="Preostalo vreme: #{skocko2.preostaloVreme}" />
                            <p:poll interval="1" listener="#{skocko2.smanjiVreme}" update="panel"/>
                        </h:panelGrid>
                        <h:panelGrid columns="2" cellpadding="5">
                            <p:commandButton value="Završi Skočka" action="#{skocko2.zavrsiSkocka()}"/>
                            <p:commandButton value="Završi igru" action="#{skocko2.zavrsiIgru()}"/>
                        </h:panelGrid>
                        <h:panelGrid columns="1" cellpadding="5">
                            <h:outputText id="ukupno" value="Ukupan broj poena koje ste osvojili: #{skocko2.ukupanBrojPoena}"/>
                            <h:outputText id="poeni" value="Broj poena koje ste osvojili u ovoj igri: #{skocko2.poeni}" rendered="#{skocko2.preostaloVreme eq 0}"/>

                            <h:outputText id="prikazRezultata" value="Rešenje: #{skocko2.tacnaKombinacija[0]} #{skocko2.tacnaKombinacija[1]} #{skocko2.tacnaKombinacija[2]} #{skocko2.tacnaKombinacija[3]}" rendered="#{skocko2.preostaloVreme eq 0}"/>
                        </h:panelGrid>
                    </h:form>
                </p:panel>

            </ui:define>
        </ui:composition>

    </body>
</html>
