<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./templejt.xhtml">
            <ui:define name="top">
                Učesnik: #{slagalica2.korIme}
            </ui:define>

            <ui:define name="content">
                <div class="#{slagalica2.bojaIgraca}">
                    <br/>

                    <h:form style="display: inline-block">
                        <p:panel id="panel2">
                            <h2>Slagalica</h2>
                            <h:panelGrid columns="6" cellpadding="5">
                                <p:commandButton value="#{slagalica2.slova[0]}" label="Slovo_1" disabled="#{slagalica2.ok[0] or slagalica2.preostaloVreme eq 0}" action="#{slagalica2.dodaj(0)}" update="panel2"/>
                                <p:commandButton value="#{slagalica2.slova[1]}" label="Slovo_2" disabled="#{slagalica2.ok[1] or slagalica2.preostaloVreme eq 0}" action="#{slagalica2.dodaj(1)}" update="panel2"/>
                                <p:commandButton value="#{slagalica2.slova[2]}" label="Slovo_3" disabled="#{slagalica2.ok[2] or slagalica2.preostaloVreme eq 0}" action="#{slagalica2.dodaj(2)}" update="panel2"/>
                                <p:commandButton value="#{slagalica2.slova[3]}" label="Slovo_4" disabled="#{slagalica2.ok[3] or slagalica2.preostaloVreme eq 0}" action="#{slagalica2.dodaj(3)}" update="panel2"/>
                                <p:commandButton value="#{slagalica2.slova[4]}" label="Slovo_5" disabled="#{slagalica2.ok[4] or slagalica2.preostaloVreme eq 0}" action="#{slagalica2.dodaj(4)}" update="panel2"/>
                                <p:commandButton value="#{slagalica2.slova[5]}" label="Slovo_6" disabled="#{slagalica2.ok[5] or slagalica2.preostaloVreme eq 0}" action="#{slagalica2.dodaj(5)}" update="panel2"/>
                                <p:commandButton value="#{slagalica2.slova[6]}" label="Slovo_7" disabled="#{slagalica2.ok[6] or slagalica2.preostaloVreme eq 0}" action="#{slagalica2.dodaj(6)}" update="panel2"/>
                                <p:commandButton value="#{slagalica2.slova[7]}" label="Slovo_8" disabled="#{slagalica2.ok[7] or slagalica2.preostaloVreme eq 0}" action="#{slagalica2.dodaj(7)}" update="panel2"/>
                                <p:commandButton value="#{slagalica2.slova[8]}" label="Slovo_9" disabled="#{slagalica2.ok[8] or slagalica2.preostaloVreme eq 0}" action="#{slagalica2.dodaj(8)}" update="panel2"/>
                                <p:commandButton value="#{slagalica2.slova[9]}" label="Slovo_10" disabled="#{slagalica2.ok[9] or slagalica2.preostaloVreme eq 0}" action="#{slagalica2.dodaj(9)}" update="panel2"/>
                                <p:commandButton value="#{slagalica2.slova[10]}" label="Slovo_11" disabled="#{slagalica2.ok[10] or slagalica2.preostaloVreme eq 0}" action="#{slagalica2.dodaj(10)}" update="panel2"/>
                                <p:commandButton value="#{slagalica2.slova[11]}" label="Slovo_12" disabled="#{slagalica2.ok[11] or slagalica2.preostaloVreme eq 0}" action="#{slagalica2.dodaj(11)}" update="panel2"/>
                            </h:panelGrid>

                            <p:commandButton value="Stop" update="panel2" action="#{slagalica2.stopSlova()}" disabled="#{slagalica2.sledeceSlovo gt 11}"/>
                            <p:commandButton value="Briši" update="panel2" action="#{slagalica2.brisi()}" disabled="#{slagalica2.sledeceSlovo lt 12 or slagalica2.preostaloVreme eq 0 or slagalica2.sledecaPozicija eq 0}"/>

                            <p:inputText value="#{slagalica2.rec}" label="rec" disabled="true" maxlength="20" size="20"/>
                        </p:panel>
                    </h:form>

                    <br/>
                    <br/>
                </div>
                <p:separator/>

                <p:panel id="panel">
                    <h:form style="display: inline-block">
                        <h:panelGrid columns="1" cellpadding="5">
                            <h:outputText id="preostaloVreme" value="Preostalo vreme: #{slagalica2.preostaloVreme}" />
                            <p:poll interval="1" listener="#{slagalica2.smanjiVreme}" update="panel"/>
                        </h:panelGrid>
                        <h:panelGrid columns="2" cellpadding="5">
                            <p:commandButton value="Završi Slagalicu" action="#{slagalica2.zavrsiSlagalicu()}"/>
                            <p:commandButton value="Završi igru" action="#{slagalica2.zavrsiIgru()}"/>
                        </h:panelGrid>
                        <h:panelGrid columns="1" cellpadding="5">
                            <h:outputText id="ukupno" value="Ukupan broj poena koje ste osvojili: #{slagalica2.ukupanBrojPoena}"/>
                            <h:outputText id="poeni" value="Broj poena koje ste osvojili u ovoj igri: #{slagalica2.poeni}" rendered="#{slagalica2.preostaloVreme eq 0}"/>
                        </h:panelGrid>
                    </h:form>
                </p:panel>

            </ui:define>
        </ui:composition>

    </body>
</html>
