<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./templejt.xhtml">
            <ui:define name="top">
                Učesnik: #{spojnice2.korIme}
            </ui:define>

            <ui:define name="content">
                <div class="#{spojnice2.bojaIgraca}">
                    <br/>

                    <h:form style="display: inline-block" id="panel2">
                        <p:panel>
                            <h2>Spojnice</h2>
                            <h:panelGrid columns="2" cellpadding="5" style="display: inline-block">
                                <p:dataTable value="#{spojnice2.spojnice.kolona1}" var="k" rowIndexVar="index">
                                    <p:column headerText="Prva kolona" style="width:200px;" class="#{spojnice2.boja[0][index]}">
                                        <h:outputText id="prvaKolona_#{index}" value="#{k}"/> 
                                    </p:column>
                                </p:dataTable>

                                <p:dataTable value="#{spojnice2.drugaKolona}" var="k" rowIndexVar="index">
                                    <p:column headerText="Druga kolona" style="width:200px;" class="#{spojnice2.boja[1][index]}">
                                        <p:commandLink disabled="#{spojnice2.preostaloVreme eq 0 or spojnice2.ok[index] eq true}" action="#{spojnice2.selektuj(index)}" update="panel2">
                                            <h:outputText id="drugaKolona_#{index}" value="#{k}"/> 
                                        </p:commandLink> 
                                    </p:column>
                                </p:dataTable>
                            </h:panelGrid>
                            <br/>
                            <p:commandButton value="Kreni" update="panel2" action="#{spojnice2.kreni()}" disabled="#{spojnice2.pokrenut}"/>
                        </p:panel>
                    </h:form>

                    <br/>
                    <br/>
                </div>
                <p:separator/>

                <p:panel id="panel">
                    <h:form style="display: inline-block">
                        <h:panelGrid columns="1" cellpadding="5">
                            <h:outputText id="preostaloVreme" value="Preostalo vreme: #{spojnice2.preostaloVreme}" />
                            <p:poll interval="1" listener="#{spojnice2.smanjiVreme}" update="panel"/>
                        </h:panelGrid>
                        <h:panelGrid columns="2" cellpadding="5">
                            <p:commandButton value="Završi Spojnice" action="#{spojnice2.zavrsiSpojnice()}"/>
                            <p:commandButton value="Završi igru" action="#{spojnice2.zavrsiIgru()}"/>
                        </h:panelGrid>
                        <h:panelGrid columns="1" cellpadding="5">
                            <h:outputText id="ukupno" value="Ukupan broj poena koje ste osvojili: #{spojnice2.ukupanBrojPoena}"/>
                            <h:outputText id="poeni" value="Broj poena koje ste osvojili u ovoj igri: #{spojnice2.poeni}" rendered="#{spojnice2.preostaloVreme eq 0}"/>
                        </h:panelGrid>
                    </h:form>
                </p:panel>

            </ui:define>
        </ui:composition>

    </body>
</html>
