<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="css/default.css"/>
        <h:outputStylesheet name="css/cssLayout.css"/>
        <title>SLAGALICA</title>
    </h:head>

    <h:body>

        <div id="top">
            <ui:insert name="top">SLAGALICA</ui:insert>
        </div>

        <p:separator/>

        <div class="center_content">
            <ui:insert name="content">Dobrodošli u slagalicu!</ui:insert>
        </div>

        <p:separator/>
    </h:body>

</html>
