<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./templejt.xhtml">
            <ui:define name="top">
                Učesnik: #{asocijacije.korIme}
            </ui:define>

            <ui:define name="content">

                <h:form style="display: inline-block" id="panel2">
                    <p:panel class="mojPanel">
                        <h2>Asocijacije</h2>
                        <h:panelGrid columns="4" cellpadding="5" style="display: inline-block">
                            <p:dataTable value="#{asocijacije.otvorenaPolja[0]}" var="k" rowIndexVar="index">
                                <p:column headerText="Kolona A" style="width:200px;" class="#{asocijacije.boja[0][index]}">
                                    <p:commandLink disabled="#{asocijacije.preostaloVreme eq 0 or asocijacije.ok[0][index] eq true}" action="#{asocijacije.selektuj(0,index)}" update="panel2">
                                        <h:outputText id="A_#{index}" value="#{asocijacije.otvorenaPolja[0][index]}"/> 
                                    </p:commandLink> 
                                </p:column>
                                <p:column headerText="Kolona B" style="width:200px;" class="#{asocijacije.boja[1][index]}">
                                    <p:commandLink disabled="#{asocijacije.preostaloVreme eq 0 or asocijacije.ok[1][index] eq true}" action="#{asocijacije.selektuj(1,index)}" update="panel2">
                                        <h:outputText id="B_#{index}" value="#{asocijacije.otvorenaPolja[1][index]}"/> 
                                    </p:commandLink> 
                                </p:column>
                                <p:column headerText="Kolona V" style="width:200px;" class="#{asocijacije.boja[2][index]}">
                                    <p:commandLink disabled="#{asocijacije.preostaloVreme eq 0 or asocijacije.ok[2][index] eq true}" action="#{asocijacije.selektuj(2,index)}" update="panel2">
                                        <h:outputText id="V_#{index}" value="#{asocijacije.otvorenaPolja[2][index]}"/> 
                                    </p:commandLink> 
                                </p:column>
                                <p:column headerText="Kolona G" style="width:200px;" class="#{asocijacije.boja[3][index]}">
                                    <p:commandLink disabled="#{asocijacije.preostaloVreme eq 0 or asocijacije.ok[3][index] eq true}" action="#{asocijacije.selektuj(3,index)}" update="panel2">
                                        <h:outputText id="G_#{index}" value="#{asocijacije.otvorenaPolja[3][index]}"/> 
                                    </p:commandLink> 
                                </p:column>
                            </p:dataTable>
                        </h:panelGrid>
                        <br/>
                        <h:panelGrid columns="4" cellpadding="5" style="display: inline-block" class="mojPanelGrid">
                            <p:inputText value="#{asocijacije.resenja[0]}" label="A" disabled="#{asocijacije.preostaloVreme eq 0 or asocijacije.okResenja[0]}" class="#{asocijacije.bojeResenja[0]}"/>
                            <p:inputText value="#{asocijacije.resenja[1]}" label="B" disabled="#{asocijacije.preostaloVreme eq 0 or asocijacije.okResenja[1]}" class="#{asocijacije.bojeResenja[1]}"/>
                            <p:inputText value="#{asocijacije.resenja[2]}" label="V" disabled="#{asocijacije.preostaloVreme eq 0 or asocijacije.okResenja[2]}" class="#{asocijacije.bojeResenja[2]}"/>
                            <p:inputText value="#{asocijacije.resenja[3]}" label="G" disabled="#{asocijacije.preostaloVreme eq 0 or asocijacije.okResenja[3]}" class="#{asocijacije.bojeResenja[3]}"/>

                            <p:commandButton value="Potvrdi kolonu A" disabled="#{asocijacije.preostaloVreme eq 0 or asocijacije.okResenja[0] eq true}" action="#{asocijacije.gadjaj(0)}" update="panel2"/>
                            <p:commandButton value="Potvrdi kolonu B" disabled="#{asocijacije.preostaloVreme eq 0 or asocijacije.okResenja[1] eq true}" action="#{asocijacije.gadjaj(1)}" update="panel2"/>
                            <p:commandButton value="Potvrdi kolonu V" disabled="#{asocijacije.preostaloVreme eq 0 or asocijacije.okResenja[2] eq true}" action="#{asocijacije.gadjaj(2)}" update="panel2"/>
                            <p:commandButton value="Potvrdi kolonu G" disabled="#{asocijacije.preostaloVreme eq 0 or asocijacije.okResenja[3] eq true}" action="#{asocijacije.gadjaj(3)}" update="panel2"/>
                        </h:panelGrid>
                        <br/>

                        <h:panelGrid columns="2" cellpadding="5" style="display: inline-block" class="mojPanelGrid">
                            <p:inputText value="#{asocijacije.resenja[4]}" label="Konačno" disabled="#{asocijacije.preostaloVreme eq 0 or asocijacije.okResenja[4]}" class="#{asocijacije.bojeResenja[4]}"/>
                            <p:commandButton value="Potvrdi konačno rešenje" disabled="#{asocijacije.preostaloVreme eq 0 or asocijacije.okResenja[4] eq true}" action="#{asocijacije.gadjaj(4)}" update="panel2"/>
                        </h:panelGrid>
                        <br/>
                        <p:commandButton value="Kreni" update="panel2" action="#{asocijacije.kreni()}" disabled="#{asocijacije.pokrenut}"/>
                    </p:panel>
                </h:form>

                <p:separator/>

                <p:panel id="panel">
                    <h:form style="display: inline-block">
                        <h:panelGrid columns="1" cellpadding="5">
                            <h:outputText id="preostaloVreme" value="Preostalo vreme: #{asocijacije.preostaloVreme}" />
                            <p:poll interval="1" listener="#{asocijacije.smanjiVreme}" update="panel"/>
                        </h:panelGrid>
                        <h:panelGrid columns="1" cellpadding="5">
                            <p:commandButton value="Završi igru" action="#{asocijacije.zavrsiIgru()}"/>
                        </h:panelGrid>
                        <h:panelGrid columns="1" cellpadding="5">
                            <h:outputText id="ukupno" value="Ukupan broj poena koje ste osvojili: #{asocijacije.rezultatiIgreDana.poeni}"/>
                            <h:outputText id="poeni" value="Broj poena koje ste osvojili u ovoj igri: #{asocijacije.poeni}" rendered="#{asocijacije.preostaloVreme eq 0}"/>
                            
                            <h:outputText id="prikazRezultataA" value="Rešenje kolone A: #{asocijacije.asocijacije.resenjaKolona[0]}" rendered="#{asocijacije.preostaloVreme eq 0 and asocijacije.okResenja[0] eq false}"/>
                            <h:outputText id="prikazRezultataB" value="Rešenje kolone B: #{asocijacije.asocijacije.resenjaKolona[1]}" rendered="#{asocijacije.preostaloVreme eq 0 and asocijacije.okResenja[1] eq false}"/>
                            <h:outputText id="prikazRezultataV" value="Rešenje kolone V: #{asocijacije.asocijacije.resenjaKolona[2]}" rendered="#{asocijacije.preostaloVreme eq 0 and asocijacije.okResenja[2] eq false}"/>
                            <h:outputText id="prikazRezultataG" value="Rešenje kolone G: #{asocijacije.asocijacije.resenjaKolona[3]}" rendered="#{asocijacije.preostaloVreme eq 0 and asocijacije.okResenja[3] eq false}"/>
                            <h:outputText id="prikazRezultata" value="Konačno rešenje: #{asocijacije.asocijacije.konacno}" rendered="#{asocijacije.preostaloVreme eq 0 and asocijacije.okResenja[4] eq false}"/>
                        </h:panelGrid>
                    </h:form>
                </p:panel>

            </ui:define>
        </ui:composition>

    </body>
</html>
