<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./templejt.xhtml">
            <ui:define name="top">
                Učesnik: #{skocko.korIme}
            </ui:define>

            <ui:define name="content">

                <h:form style="display: inline-block" id="rezultat">
                    <p:panel id="panel2">
                        <h2>Skočko</h2>
                        <p:repeat value="#{skocko.simboli}" var="red" varStatus="status">
                            <h:panelGrid columns="6" cellpadding="5">
                                <p:graphicImage value="#{photos.image2}" height="48px" width="48px">
                                    <f:param name="skocko" value="#{skocko.simboli[status.index][0]}" />
                                </p:graphicImage>
                                <p:graphicImage value="#{photos.image2}" height="48px" width="48px">
                                    <f:param name="skocko" value="#{skocko.simboli[status.index][1]}" />
                                </p:graphicImage>
                                <p:graphicImage value="#{photos.image2}" height="48px" width="48px">
                                    <f:param name="skocko" value="#{skocko.simboli[status.index][2]}" />
                                </p:graphicImage>
                                <p:graphicImage value="#{photos.image2}" height="48px" width="48px">
                                    <f:param name="skocko" value="#{skocko.simboli[status.index][3]}" />
                                </p:graphicImage>

                                <p:commandButton value="?" action="#{skocko.proveri()}" update="rezultat" disabled="#{skocko.brojSimbolaURedu lt 4 or status.index ne skocko.sledeciRed or skocko.kraj}"/>
                                <p:graphicImage value="#{photos.image2}" height="48px" width="48px">
                                    <f:param name="skocko" value="#{skocko.pogodak[status.index]}" />
                                </p:graphicImage>                                
                            </h:panelGrid>
                        </p:repeat>

                        <h:panelGrid columns="6" cellpadding="5">
                            <p:commandLink action="#{skocko.dodaj(0)}" update="panel2" disabled="#{skocko.brojSimbolaURedu gt 3 or not skocko.pokrenut or skocko.kraj}">
                                <h:graphicImage value="/resources/images/skocko.png" height="48px" width="48px"/>
                            </p:commandLink>
                            <p:commandLink action="#{skocko.dodaj(1)}" update="panel2" disabled="#{skocko.brojSimbolaURedu gt 3 or not skocko.pokrenut or skocko.kraj}">
                                <h:graphicImage value="/resources/images/herc.png" height="48px" width="48px"/>
                            </p:commandLink>
                            <p:commandLink action="#{skocko.dodaj(2)}" update="panel2" disabled="#{skocko.brojSimbolaURedu gt 3 or not skocko.pokrenut or skocko.kraj}">
                                <h:graphicImage value="/resources/images/pik.png" height="48px" width="48px"/>
                            </p:commandLink>
                            <p:commandLink action="#{skocko.dodaj(3)}" update="panel2" disabled="#{skocko.brojSimbolaURedu gt 3 or not skocko.pokrenut or skocko.kraj}">
                                <h:graphicImage value="/resources/images/karo.png" height="48px" width="48px"/>
                            </p:commandLink>
                            <p:commandLink action="#{skocko.dodaj(4)}" update="panel2" disabled="#{skocko.brojSimbolaURedu gt 3 or not skocko.pokrenut or skocko.kraj}">
                                <h:graphicImage value="/resources/images/tref.png" height="48px" width="48px"/>
                            </p:commandLink>
                            <p:commandLink action="#{skocko.dodaj(5)}" update="panel2" disabled="#{skocko.brojSimbolaURedu gt 3 or not skocko.pokrenut or skocko.kraj}">
                                <h:graphicImage value="/resources/images/zvezda.png" height="48px" width="48px"/>
                            </p:commandLink>                      
                        </h:panelGrid>

                        <p:commandButton value="Kreni" update="panel2" action="#{skocko.kreni()}" disabled="#{skocko.pokrenut}"/>
                        <p:commandButton value="Briši" update="panel2" action="#{skocko.brisi()}" disabled="#{not skocko.pokrenut or skocko.brojSimbolaURedu eq 0  or skocko.kraj}"/>
                    </p:panel>
                </h:form>

                <p:separator/>

                <p:panel id="panel">
                    <h:form style="display: inline-block">
                        <h:panelGrid columns="1" cellpadding="5">
                            <h:outputText id="preostaloVreme" value="Preostalo vreme: #{skocko.preostaloVreme}" />
                            <p:poll interval="1" listener="#{skocko.smanjiVreme}" update="panel"/>
                        </h:panelGrid>
                        <h:panelGrid columns="2" cellpadding="5">
                            <p:commandButton value="Završi Skočka" action="#{skocko.zavrsiSkocka()}"/>
                            <p:commandButton value="Završi igru" action="#{skocko.zavrsiIgru()}"/>
                        </h:panelGrid>
                        <h:panelGrid columns="1" cellpadding="5">
                            <h:outputText id="ukupno" value="Ukupan broj poena koje ste osvojili: #{skocko.rezultatiIgreDana.poeni}"/>
                            <h:outputText id="poeni" value="Broj poena koje ste osvojili u ovoj igri: #{skocko.poeni}" rendered="#{skocko.preostaloVreme eq 0}"/>
                            
                            <h:outputText id="prikazRezultata" value="Rešenje: #{skocko.igraDana.skocko.kombinacija[0]} #{skocko.igraDana.skocko.kombinacija[1]} #{skocko.igraDana.skocko.kombinacija[2]} #{skocko.igraDana.skocko.kombinacija[3]}" rendered="#{skocko.preostaloVreme eq 0 or skocko.kraj eq true}"/>
                        </h:panelGrid>
                    </h:form>
                </p:panel>

            </ui:define>
        </ui:composition>

    </body>
</html>
