<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./templejt.xhtml">
            <ui:define name="top">
                Učesnik: #{slagalica.korIme}
            </ui:define>

            <ui:define name="content">

                <h:form style="display: inline-block">
                    <p:panel id="panel2">
                        <h2>Slagalica</h2>
                        <h:panelGrid columns="6" cellpadding="5">
                            <p:commandButton value="#{slagalica.slova[0]}" label="Slovo_1" disabled="#{slagalica.ok[0] or slagalica.preostaloVreme eq 0}" action="#{slagalica.dodaj(0)}" update="panel2"/>
                            <p:commandButton value="#{slagalica.slova[1]}" label="Slovo_2" disabled="#{slagalica.ok[1] or slagalica.preostaloVreme eq 0}" action="#{slagalica.dodaj(1)}" update="panel2"/>
                            <p:commandButton value="#{slagalica.slova[2]}" label="Slovo_3" disabled="#{slagalica.ok[2] or slagalica.preostaloVreme eq 0}" action="#{slagalica.dodaj(2)}" update="panel2"/>
                            <p:commandButton value="#{slagalica.slova[3]}" label="Slovo_4" disabled="#{slagalica.ok[3] or slagalica.preostaloVreme eq 0}" action="#{slagalica.dodaj(3)}" update="panel2"/>
                            <p:commandButton value="#{slagalica.slova[4]}" label="Slovo_5" disabled="#{slagalica.ok[4] or slagalica.preostaloVreme eq 0}" action="#{slagalica.dodaj(4)}" update="panel2"/>
                            <p:commandButton value="#{slagalica.slova[5]}" label="Slovo_6" disabled="#{slagalica.ok[5] or slagalica.preostaloVreme eq 0}" action="#{slagalica.dodaj(5)}" update="panel2"/>
                            <p:commandButton value="#{slagalica.slova[6]}" label="Slovo_7" disabled="#{slagalica.ok[6] or slagalica.preostaloVreme eq 0}" action="#{slagalica.dodaj(6)}" update="panel2"/>
                            <p:commandButton value="#{slagalica.slova[7]}" label="Slovo_8" disabled="#{slagalica.ok[7] or slagalica.preostaloVreme eq 0}" action="#{slagalica.dodaj(7)}" update="panel2"/>
                            <p:commandButton value="#{slagalica.slova[8]}" label="Slovo_9" disabled="#{slagalica.ok[8] or slagalica.preostaloVreme eq 0}" action="#{slagalica.dodaj(8)}" update="panel2"/>
                            <p:commandButton value="#{slagalica.slova[9]}" label="Slovo_10" disabled="#{slagalica.ok[9] or slagalica.preostaloVreme eq 0}" action="#{slagalica.dodaj(9)}" update="panel2"/>
                            <p:commandButton value="#{slagalica.slova[10]}" label="Slovo_11" disabled="#{slagalica.ok[10] or slagalica.preostaloVreme eq 0}" action="#{slagalica.dodaj(10)}" update="panel2"/>
                            <p:commandButton value="#{slagalica.slova[11]}" label="Slovo_12" disabled="#{slagalica.ok[11] or slagalica.preostaloVreme eq 0}" action="#{slagalica.dodaj(11)}" update="panel2"/>
                        </h:panelGrid>

                        <p:commandButton value="Stop" update="panel2" action="#{slagalica.stopSlova()}" disabled="#{slagalica.sledeceSlovo gt 11}"/>
                        <p:commandButton value="Briši" update="panel2" action="#{slagalica.brisi()}" disabled="#{slagalica.sledeceSlovo lt 12 or slagalica.preostaloVreme eq 0 or slagalica.sledecaPozicija eq 0}"/>

                        <p:inputText value="#{slagalica.rec}" label="rec" disabled="true" maxlength="20" size="20"/>
                    </p:panel>
                </h:form>

                <p:separator/>

                <p:panel id="panel">
                    <h:form style="display: inline-block">
                        <h:panelGrid columns="1" cellpadding="5">
                            <h:outputText id="preostaloVreme" value="Preostalo vreme: #{slagalica.preostaloVreme}" />
                            <p:poll interval="1" listener="#{slagalica.smanjiVreme}" update="panel"/>
                        </h:panelGrid>
                        <h:panelGrid columns="2" cellpadding="5">
                            <p:commandButton value="Završi Slagalicu" action="#{slagalica.zavrsiSlagalicu()}"/>
                            <p:commandButton value="Završi igru" action="#{slagalica.zavrsiIgru()}"/>
                        </h:panelGrid>
                        <h:panelGrid columns="1" cellpadding="5">
                            <h:outputText id="ukupno" value="Ukupan broj poena koje ste osvojili: #{slagalica.rezultatiIgreDana.poeni}"/>
                            <h:outputText id="poeni" value="Broj poena koje ste osvojili u ovoj igri: #{slagalica.poeni}" rendered="#{slagalica.preostaloVreme eq 0}"/>
                        </h:panelGrid>
                    </h:form>
                </p:panel>

            </ui:define>
        </ui:composition>

    </body>
</html>
