<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./templejt.xhtml">
            <ui:define name="top">
                Učesnik: #{spojnice.korIme}
            </ui:define>

            <ui:define name="content">

                <h:form style="display: inline-block" id="panel2">
                    <p:panel>
                        <h2>Spojnice</h2>
                        <h:panelGrid columns="2" cellpadding="5" style="display: inline-block">
                            <p:dataTable value="#{spojnice.spojnice.kolona1}" var="k" rowIndexVar="index">
                                <p:column headerText="Prva kolona" style="width:200px;" class="#{spojnice.boja[0][index]}">
                                    <h:outputText id="prvaKolona_#{index}" value="#{k}"/> 
                                </p:column>
                            </p:dataTable>

                            <p:dataTable value="#{spojnice.drugaKolona}" var="k" rowIndexVar="index">
                                <p:column headerText="Druga kolona" style="width:200px;" class="#{spojnice.boja[1][index]}">
                                    <p:commandLink disabled="#{spojnice.preostaloVreme eq 0 or spojnice.ok[index] eq true}" action="#{spojnice.selektuj(index)}" update="panel2">
                                        <h:outputText id="drugaKolona_#{index}" value="#{k}"/> 
                                    </p:commandLink> 
                                </p:column>
                            </p:dataTable>
                        </h:panelGrid>
                        <br/>
                        <p:commandButton value="Kreni" update="panel2" action="#{spojnice.kreni()}" disabled="#{spojnice.pokrenut}"/>
                    </p:panel>
                </h:form>

                <p:separator/>

                <p:panel id="panel">
                    <h:form style="display: inline-block">
                        <h:panelGrid columns="1" cellpadding="5">
                            <h:outputText id="preostaloVreme" value="Preostalo vreme: #{spojnice.preostaloVreme}" />
                            <p:poll interval="1" listener="#{spojnice.smanjiVreme}" update="panel"/>
                        </h:panelGrid>
                        <h:panelGrid columns="2" cellpadding="5">
                            <p:commandButton value="Završi Spojnice" action="#{spojnice.zavrsiSpojnice()}"/>
                            <p:commandButton value="Završi igru" action="#{spojnice.zavrsiIgru()}"/>
                        </h:panelGrid>
                        <h:panelGrid columns="1" cellpadding="5">
                            <h:outputText id="ukupno" value="Ukupan broj poena koje ste osvojili: #{spojnice.rezultatiIgreDana.poeni}"/>
                            <h:outputText id="poeni" value="Broj poena koje ste osvojili u ovoj igri: #{spojnice.poeni}" rendered="#{spojnice.preostaloVreme eq 0}"/>
                        </h:panelGrid>
                    </h:form>
                </p:panel>

            </ui:define>
        </ui:composition>

    </body>
</html>
